<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Today</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TodayServlet</display-name>
    <servlet-name>TodayServlet</servlet-name>
    <servlet-class>com.Today.TodayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodayServlet</servlet-name>
    <url-pattern>/TodayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankServlet</display-name>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>com.nsep.servlet.BankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/BankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankDetails</display-name>
    <servlet-name>BankDetails</servlet-name>
    <servlet-class>com.nsep.servlet.BankDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankDetails</servlet-name>
    <url-pattern>/BankDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollegeServlet</display-name>
    <servlet-name>CollegeServlet</servlet-name>
    <servlet-class>com.nsep.servlet.CollegeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeServlet</servlet-name>
    <url-pattern>/CollegeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollegeDetails</display-name>
    <servlet-name>CollegeDetails</servlet-name>
    <servlet-class>com.nsep.servlet.CollegeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeDetails</servlet-name>
    <url-pattern>/CollegeDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.nsep.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetails</display-name>
    <servlet-name>StudentDetails</servlet-name>
    <servlet-class>com.nsep.servlet.StudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetails</servlet-name>
    <url-pattern>/StudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankDelete</display-name>
    <servlet-name>BankDelete</servlet-name>
    <servlet-class>com.nsep.servlet.BankDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankDelete</servlet-name>
    <url-pattern>/BankDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollegeDelete</display-name>
    <servlet-name>CollegeDelete</servlet-name>
    <servlet-class>com.nsep.servlet.CollegeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeDelete</servlet-name>
    <url-pattern>/CollegeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelete</display-name>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>com.nsep.servlet.StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankUpdate</display-name>
    <servlet-name>BankUpdate</servlet-name>
    <servlet-class>com.nsep.servlet.BankUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankUpdate</servlet-name>
    <url-pattern>/BankUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankUpdates</display-name>
    <servlet-name>BankUpdates</servlet-name>
    <servlet-class>com.nsep.servlet.BankUpdates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankUpdates</servlet-name>
    <url-pattern>/BankUpdates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdate</display-name>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>com.nsep.servlet.StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdates</display-name>
    <servlet-name>StudentUpdates</servlet-name>
    <servlet-class>com.nsep.servlet.StudentUpdates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdates</servlet-name>
    <url-pattern>/StudentUpdates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollegeUpdate</display-name>
    <servlet-name>CollegeUpdate</servlet-name>
    <servlet-class>com.nsep.servlet.CollegeUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeUpdate</servlet-name>
    <url-pattern>/CollegeUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollegeUpdates</display-name>
    <servlet-name>CollegeUpdates</servlet-name>
    <servlet-class>com.nsep.servlet.CollegeUpdates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeUpdates</servlet-name>
    <url-pattern>/CollegeUpdates</url-pattern>
  </servlet-mapping>
</web-app>